.container{
	-webkit-perspective:600;
	padding-top : 100px;
}

#cube{
	width: 200px;
	height: 200px;
	margin: 0 auto 40px; /*pour centrer le cube sur la page*/
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(-100px) rotateX( -220deg ) rotateY( 45deg );
}

#cube div{
	position:absolute;

	overflow:hidden;
	width:200px;
   	height:200px;
   	opacity:0.5;
	background-color : red;
	text-align : center;
}

.front{
   	-webkit-transform: translateZ( 100px );
}

.back{
	-webkit-transform: translateZ( -100px );
}	

.left{
	-webkit-transform: rotateY( 90deg ) translateZ( 100px );
}

.right{
	-webkit-transform: rotateY( -90deg ) translateZ( 100px );
}	

.top{
    -webkit-transform: rotateX(90deg) translateZ( 100px );
}

.bottom{
	-webkit-transform: rotateX(-90deg) translateZ( 100px );
}	
